.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
        = @group.name

      .chat-main__main-header__left-box__member-list
        Member :  
        .chat-main__main-header__left-box__member-list__member
          - @group.users.each do |member|
            = member.name

    .chat-main__main-header__edit-btn
      = link_to edit_group_path(@group), class: "edit" do
        Edit

  .chat-main__messages
    .chat-main__messages__message
      = render @messages
  .chat-main__form
    .chat-main__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__form__box__type-a-message', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__box__label' do
          = icon('fas', 'image', class: 'img')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-main__form__box__send'      